.profile{
    width: 300px;
    height: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background:wheat;
}
.image{
    border:2px solid black;
    
}
